Flow_GabiGaus.txt
[{"id":"8f0af6cb.6c1ad8","type":"inject","z":"fa438e31.e88a2","name":"","topic":"","payload":"pickup();","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["bfa7bc22.a0b65"]]},{"id":"6248d0a6.3317","type":"inject","z":"fa438e31.e88a2","name":"","topic":"","payload":"drop(1);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["bfa7bc22.a0b65"]]},{"id":"36f27abf.4acc46","type":"inject","z":"fa438e31.e88a2","name":"","topic":"","payload":"drop(0);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["bfa7bc22.a0b65"]]},{"id":"bfa7bc22.a0b65","type":"ble uart","z":"fa438e31.e88a2","name":"GabiGaus","localName":"GabiGaus","x":420,"y":280,"wires":[["6860b34f.cb15bc"]]},{"id":"fdfcbdb5.1f287","type":"debug","z":"fa438e31.e88a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":340,"wires":[]},{"id":"6860b34f.cb15bc","type":"function","z":"fa438e31.e88a2","name":"Umwandeln","func":"msg.payload=String.fromCharCode.apply(String, msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["1dfaed74.c2d3b3"]]},{"id":"1dfaed74.c2d3b3","type":"function","z":"fa438e31.e88a2","name":"Abgleichen","func":"if(msg.payload == \"pickupsuccess(0)\"){\n    //global.set('pickupsuccess',false);\n    msg.payload = {\n        \"id\":3,\n        \"partnr\": 3,\n        \"pickupsuccess\":false\n    }\n    return msg\n}    \nif(msg.payload == \"pickupsuccess(1)\"){\n        msg.payload = {\n        \"id\":3,\n        \"partnr\": 3,\n        \"pickupsuccess\":true\n    }\n    return msg\n}    \nif(msg.payload == \"dropsuccess(0)\"){\n        msg.payload = {\n        \"id\":3,\n        \"partnr\": P-3006766,\n        \"dropsuccess\":false\n    }\n    return msg\n}    \nif(msg.payload == \"dropsuccess(1)\"){\n        msg.payload = {\n        \"id\":3,\n        \"partnr\": 3,\n        \"dropsuccess\":true\n    }\n    return msg\n}    \nelse node.warn(\"Warning\");\n","outputs":1,"noerr":0,"x":850,"y":280,"wires":[["4956dde.e38c524"]]},{"id":"8061a6d9.86f1d8","type":"http request","z":"fa438e31.e88a2","name":"","method":"POST","ret":"txt","url":"192.168.1.7:1880/init","tls":"","x":630,"y":720,"wires":[["de6afc7a.068ba"]]},{"id":"691067f8.fd5128","type":"function","z":"fa438e31.e88a2","name":"Init","func":"msg.payload = {\n    \"id\": 3,\n    \"partnr\": \"P-300556\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["8061a6d9.86f1d8"]]},{"id":"920fd303.b9f11","type":"inject","z":"fa438e31.e88a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["691067f8.fd5128"]]},{"id":"de6afc7a.068ba","type":"debug","z":"fa438e31.e88a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":720,"wires":[]},{"id":"4956dde.e38c524","type":"http request","z":"fa438e31.e88a2","name":"","method":"POST","ret":"txt","url":"192.168.1.7:1880/update","tls":"","x":570,"y":460,"wires":[["b04f0758.515458"]]},{"id":"4a32521f.11847c","type":"json","z":"fa438e31.e88a2","name":"","property":"payload","action":"","pretty":false,"x":950,"y":460,"wires":[["fdfcbdb5.1f287","e835aeac.1ebb7","acbd770d.7b89a8","aa6c0b7.becaff8","372607c0.819b78","783a4c79.855b94","6a51c18.b68cd4"]]},{"id":"e835aeac.1ebb7","type":"ui_gauge","z":"fa438e31.e88a2","name":"","group":"1c3f2565.3969ab","order":2,"width":"5","height":"5","gtype":"gage","title":"Pickuprate","label":"%","format":"{{msg.payload.pickuprate}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":420,"wires":[]},{"id":"fe2db6e2.db62a8","type":"inject","z":"fa438e31.e88a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":660,"wires":[["ee38049.32766f8"]]},{"id":"ee38049.32766f8","type":"http request","z":"fa438e31.e88a2","name":"","method":"GET","ret":"txt","url":"192.168.1.7:1880/id/3","tls":"","x":430,"y":660,"wires":[["a0510a3b.21fd18"]]},{"id":"53af37ea.2bc128","type":"debug","z":"fa438e31.e88a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":660,"wires":[]},{"id":"a0510a3b.21fd18","type":"json","z":"fa438e31.e88a2","name":"","property":"payload","action":"","pretty":false,"x":650,"y":660,"wires":[["53af37ea.2bc128"]]},{"id":"68a8c652.502bf8","type":"ui_button","z":"fa438e31.e88a2","name":"","group":"e1b6d1a6.141d7","order":1,"width":"5","height":"2","passthru":false,"label":"Pickup","color":"","bgcolor":"","icon":"","payload":"pickup();","payloadType":"str","topic":"","x":130,"y":360,"wires":[["bfa7bc22.a0b65"]]},{"id":"ed2e7330.10364","type":"ui_button","z":"fa438e31.e88a2","name":"","group":"e1b6d1a6.141d7","order":2,"width":"5","height":"2","passthru":false,"label":"Drop Right","color":"","bgcolor":"","icon":"","payload":"drop(1);","payloadType":"str","topic":"","x":150,"y":440,"wires":[["bfa7bc22.a0b65"]]},{"id":"71af6712.b3cf28","type":"ui_button","z":"fa438e31.e88a2","name":"","group":"e1b6d1a6.141d7","order":3,"width":"5","height":"2","passthru":false,"label":"Drop Left","color":"","bgcolor":"","icon":"","payload":"drop(0);","payloadType":"str","topic":"","x":140,"y":400,"wires":[["bfa7bc22.a0b65"]]},{"id":"b04f0758.515458","type":"http request","z":"fa438e31.e88a2","name":"","method":"GET","ret":"txt","url":"192.168.1.7:1880/id/3","tls":"","x":770,"y":460,"wires":[["4a32521f.11847c"]]},{"id":"acbd770d.7b89a8","type":"ui_text","z":"fa438e31.e88a2","group":"6dc3266a.53d198","order":1,"width":"5","height":"2","name":"","label":"Id:","format":"{{msg.payload.id}}","layout":"row-center","x":1210,"y":520,"wires":[]},{"id":"aa6c0b7.becaff8","type":"ui_text","z":"fa438e31.e88a2","group":"6dc3266a.53d198","order":2,"width":"5","height":"2","name":"","label":"Part-Nr:","format":"{{msg.payload.partnr}}","layout":"row-center","x":1220,"y":560,"wires":[]},{"id":"783a4c79.855b94","type":"ui_text","z":"fa438e31.e88a2","group":"6dc3266a.53d198","order":3,"width":"5","height":"2","name":"","label":"Drop Succsess Total:","format":"{{msg.payload.dropsuccess}}","layout":"row-center","x":1260,"y":640,"wires":[]},{"id":"372607c0.819b78","type":"ui_text","z":"fa438e31.e88a2","group":"6dc3266a.53d198","order":4,"width":"5","height":"2","name":"","label":"Pickup Succsess Total:","format":"{{msg.payload.pickupsuccess}}","layout":"row-center","x":1260,"y":600,"wires":[]},{"id":"6a51c18.b68cd4","type":"ui_gauge","z":"fa438e31.e88a2","name":"","group":"1c3f2565.3969ab","order":1,"width":"5","height":"5","gtype":"gage","title":"Droprate","label":"%","format":"{{msg.payload.droprate}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":460,"wires":[]},{"id":"1c3f2565.3969ab","type":"ui_group","z":"","name":"Statistics","tab":"bd3c1eda.e74f7","order":3,"disp":true,"width":"5","collapse":false},{"id":"e1b6d1a6.141d7","type":"ui_group","z":"","name":"Buttons","tab":"bd3c1eda.e74f7","order":1,"disp":true,"width":"5","collapse":false},{"id":"6dc3266a.53d198","type":"ui_group","z":"","name":"Informations","tab":"bd3c1eda.e74f7","order":2,"disp":true,"width":"5","collapse":false},{"id":"bd3c1eda.e74f7","type":"ui_tab","z":"","name":"GabiGaus","icon":"dashboard"}]